/* ===========================
   Google Reset
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
}

/* ===========================
   Header
=========================== */

.header-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: linear-gradient(90deg, #130101, #3b1814);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .15);

    position: sticky;
    top: 0;
    z-index: 1000;

    transition: .4s;
}

.header-position:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, .25);
}

/* ===========================
   Logo
=========================== */

.logo h1 {
    color: white;
    font-size: 34px;
    cursor: pointer;
    transition: .3s;
}

.logo span {
    color: #FFD166;
    font-size: 42px;
}

.logo:hover h1 {
    transform: scale(1.05);
}

/* ===========================
   Navigation
=========================== */

.navbar ul {
    display: flex;
    gap: 35px;
}

.navbar a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: relative;
    transition: .3s;
}

/* Underline Animation */

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #FFD166;
    transition: .35s ease;
}

.navbar a:hover {
    color: #FFD166;
}

.navbar a:hover::after {
    width: 100%;
}

/* ===========================
   Buttons
=========================== */

.button {
    display: flex;
    gap: 15px;
}

.button button {
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .35s;
}

/* Cart Button */

.cart-btn {
    background: white;
    color: #111;
}

.cart-btn:hover {
    background: #FFD166;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
}

/* Login Button */

.login-btn {
    background: transparent;
    color: white;
    border: 2px solid white;
}

.login-btn:hover {
    background: white;
    color: #111;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
}

/* ===========================
   User Dropdown
=========================== */

.user-menu{
    position: relative;
    display: inline-block;
}

.dropdown-menu{
    position: absolute;
    top: 110%;
    right: 0;
    width: 200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    overflow: hidden;

    display: none;
    z-index: 999;
}

.dropdown-menu a,
.dropdown-menu button{
    width: 100%;
    padding: 14px 18px;
    display: block;
    text-align: left;
    background: transparent;
    border: none;
    color: #333;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover{
    background: #f5f5f5;
    color: #8B5E3C;
}

.user-menu:hover .dropdown-menu{
    display: block;
}

/* ===========================
   Login Banner
=========================== */

.login-banner{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url("images/login-banner.jpg");
    background-size: cover;
    background-position: center;
    padding:120px 80px;
    text-align:center;
    color:white;
}

.login-banner h4{
    color:#FFD166;
    letter-spacing:3px;
    margin-bottom:15px;
}

.login-banner h1{
    font-size:55px;
    margin-bottom:15px;
}

.login-banner p{
    font-size:18px;
    color:#eee;
}

/* ===========================
   Login Section
=========================== */

.login{
    padding:100px 20px;
    background:#f8f4ee;
}

.login-container{
    max-width:450px;
    margin:auto;
    background:#fff;
    padding:45px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.login-container h2{
    text-align:center;
    margin-bottom:10px;
}

.login-container p{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

/* ===========================
   Form
=========================== */

.login-container input{
    width:100%;
    padding:15px;
    border:1px solid #ddd;
    border-radius:8px;
    margin-bottom:20px;
    font-size:15px;
    outline:none;
}

.login-container input:focus{
    border-color:#8B5E3C;
}

/* ===========================
   Password
=========================== */

.password-box{
    position:relative;
}

.password-box i{
    position:absolute;
    right:18px;
    top:17px;
    cursor:pointer;
    color:#666;
}

/* ===========================
   Login Options
=========================== */

.login-options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    font-size:14px;
}

.login-options label{
    display:flex;
    align-items:center;
    gap:8px;
}

.login-options input{
    width:auto;
    margin:0;
}

.login-options a{
    text-decoration:none;
    color:#8B5E3C;
}

.login-options a:hover{
    text-decoration:underline;
}

/* ===========================
   Buttons
=========================== */

.login-container button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.login-container form button{
    background:#111;
    color:white;
}

.login-container form button:hover{
    background:#8B5E3C;
}

.google-btn{
    background:#fff;
    border:1px solid #ddd !important;
    color:#333;
}

.google-btn:hover{
    background:#f3f3f3;
}

/* ===========================
   Divider
=========================== */

.divider{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:25px 0;
    color:#888;
}

.divider::before,
.divider::after{
    content:"";
    flex:1;
    height:1px;
    background:#ddd;
}

.divider span{
    margin:0 15px;
}

.register-link{
    text-align:center;
    margin-top:25px;
}

.register-link a{
    color:#8B5E3C;
    text-decoration:none;
    font-weight:600;
}

.register-link a:hover{
    text-decoration:underline;
}

/* ===========================
   Responsive
=========================== */

@media(max-width:768px){

    .login-banner{
        padding:90px 20px;
    }

    .login-banner h1{
        font-size:40px;
    }

    .login-container{
        padding:30px 20px;
    }

    .login-options{
        flex-direction:column;
        gap:15px;
        align-items:flex-start;
    }

}

/* ===========================
   Toast Notification
=========================== */

.toast{
    position:fixed;
    top:30px;
    right:30px;
    background:#111;
    color:#fff;
    padding:15px 25px;
    border-radius:8px;
    font-size:15px;
    font-weight:500;

    opacity:0;
    visibility:hidden;

    transform:translateY(-20px);

    transition:.35s;

    z-index:9999;
}

.toast.show{

    opacity:1;
    visibility:visible;

    transform:translateY(0);

}r

/* ===========================
   Footer
=========================== */

.footer{
    background:#130101;
    color:#fff;
    padding:70px 80px 20px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
    margin-bottom:40px;
}

.footer-box h2{
    color:#FFD166;
    margin-bottom:20px;
    font-size:30px;
}

.footer-box h3{
    color:#FFD166;
    margin-bottom:20px;
    font-size:22px;
}

.footer-box p{
    color:#ddd;
    line-height:1.8;
    margin-bottom:12px;
}

.footer-box ul li{
    margin-bottom:12px;
}

.footer-box ul li a{
    color:#ddd;
    transition:.3s;
}

.footer-box ul li a:hover{
    color:#FFD166;
    padding-left:8px;
}

.footer-box i{
    margin-right:10px;
    color:#FFD166;
}

/* Social Icons */

.social-icons{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.social-icons a{
    width:42px;
    height:42px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#2b1616;
    color:white;
    border-radius:50%;
    transition:.3s;
}

.social-icons a:hover{
    background:#FFD166;
    color:#111;
    transform:translateY(-5px);
}

/* Bottom */
.footer-bottom{
    border-top:1px solid rgba(255,255,255,.15);
    text-align:center;
    padding-top:20px;
}

.footer-bottom p{
    color:#bbb;
}

/* ===========================
   Responsive
=========================== */

@media(max-width:900px){

    .checkout{
        padding:70px 20px;
    }

    .checkout-container{
        grid-template-columns:1fr;
    }

    .form-row{
        grid-template-columns:1fr;
    }

    .checkout-banner{
        padding:90px 20px;
    }

    .checkout-banner h1{
        font-size:40px;
    }

}